.contenedor{
  width: 75%;
  padding: 5%;
  margin: 5%;
  padding-top: 0;
  margin-top: 0;
  display: flex;
  flex-direction: column;

}

.imagen img{
  width: 200px;
}

.imagen{
  align-self: flex-end;
}
.imagen1 img{
  width: 200px;
  padding-bottom: 15px;
}

.imagen1{
  align-self: flex-start;
}


table{
  width: 75%;
  border: 1px solid #000;
  border-collapse: collapse;
}
th {
   background: #000;
   color: #f2f1ef
}
th, td {
   text-align: left;
   border: 1px solid #000;
   padding: 0.3em;
   caption-side: bottom;
}
.p3{
  font-style: italic;
}
#red{
  color: red;
}
