body{
  background:;
  text-align: justify;
}
div{
  width: 700px;
  height: ;
  background: ;
  padding:;
  margin: 20px;


}
aside{
  top: ;
  bottom: 200px;
  right: ;
  left: ;
}



#contact{
  height: 300px;
  margin: 45px;
  width: 400px;
   padding: 10px;

   box-shadow: 4px 4px 4px #D3D3D3;
   -webkit-box-shadow: 4px 4px 4px #D3D3D3;
   -moz-box-shadow: 4px 4px 4px #D3D3D3;
}

#icon1{
  height: 120px;

}
#top{
  margin: 20px;
}
#top{
  margin: 20px;
  font-family: Arial;
  font-size: 14px;
  color: 000;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height:10px;
}
#top1{
  font-family: Arial;
  font-size: 14px;
  color: 000;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height:20px;
}

#tittle1{
  font-style: oblique;
  padding: 5px;
}
